*{
  font-family: "Sono", sans-serif;
}

nav ul {
  list-style-type: none;
}

nav {
  background-color: black;
  color: white;
  height: 3vw;
  text-align: center;
  font-size: 2vw;
}

.pcontainer {
  display: flex;
  justify-content: center;
  margin-top: 4vw; 
}

.container1 {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: yellow;
  margin-right: 10vw;
  
}

.container1 div {
/*   text-align: center; */
  width: 10vw;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2vw solid black;
}

.box {
  font-size: 3vw;
  color: black;
}

.box:hover {
  background-color: rgb(71, 58, 248);
}

.print{
  color: black;
  font-size: large;
}

.won{
  direction: flex;
  flex-direction: row;
  margin-right: 2vw;
}

.i img{
  width: 0vw;
  transition: width 1s ease-in-out;
}
